

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

.text-justify{
	text-align: justify;
}

.text-red{
	font-weight:bold;
	color:red!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container .select2-selection--single{
	height:38px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:38px;
}

#planetList {
	display: flex;
    justify-content: center;
}

a.res-link {
	font-weight:bold;
	text-decoration:none;
}
#footer_row{
	max-width: 50%;
    margin: 0 auto;
}

.text-green{
	color:#1abc9c;
}

.planet-button{
	margin: 0 auto;
    display: block;
    width: 15px;
}

thead th .both {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
	background-repeat:no-repeat;
	background-position: right;
}

th{
	min-width: 75px;
}

.version_link{
	text-decoration:none;
}

